body {
    font-family: "Gill Sans", sans-serif;
    max-width: 800px;
    margin:0px auto;
    background-color: black;
}
h1 {
    display: flex;
    justify-content: center;
    /* background-color: darkgrey; */
    background-color:lightblue;

    color: black;
    border-top: 2px solid black;

    border-radius: 10px;
    max-width: parent;
    margin: 10px auto;
    
}
.game-rules-div {
    display: flex;
    justify-content: center;
    /* background-color:darkkhaki; */
    background-color:dodgerblue;
    color: white;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
}
img {
    border-radius: 20px;
    cursor: pointer;

}
.icons {
    /* background-color:darkkhaki; */
    
     justify-content: space-evenly; 
    display: flex;
    margin: 0 auto;
    padding: 10px;
    
     /* max-width: 600px;  */

    border-radius: 10px;
}   
#c-action {
    color:dodgerblue;
    font-size: large;
    text-align: center;
}
.score {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color:lightblue;
    border-top: 2px solid black;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 600px;
}
.player-score {
    flex:1;
}
.computer-score {
    flex:1;
}